:root {
    --bg: #14532d;          /* Verde escuro */
    --card: #166534;        /* Verde médio */
    --accent: #22c55e;      /* Verde principal */
    --border: #15803d;
    --text: #f0fdf4;
}

body {
    background: linear-gradient(135deg, #14532d, #166534);
    color: var(--text);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.payment-container {
    background: var(--card);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.methods {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.method {
    flex: 1;
    background: #0f172a;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--border);
    transition: 0.3s;
}

.method.active {
    background: var(--accent);
}

.method i {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: #0f172a;
    color: white;
}

.pay-btn {
    width: 100%;
    padding: 12px;
    background: var(--accent);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.pay-btn:hover {
    background: #15803d;
}

#message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    }
