:root {
    --bg: #0f172a;
    --card: #1e293b;
    --accent: #16a34a;
    --danger: #dc2626;
    --border: #334155;
    --text: #f1f5f9;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.withdraw-container {
    background: var(--card);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.methods {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.method {
    flex: 1;
    background: #0f172a;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--border);
    transition: 0.3s;
}

.method.active {
    background: var(--accent);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: #0f172a;
    color: white;
}

.withdraw-btn {
    width: 100%;
    padding: 12px;
    background: var(--danger);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.withdraw-btn:hover {
    background: #b91c1c;
}

#message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }
