:root {
  --bg-main: #021b12;
  --bg-secondary: #063d2c;
  --green-primary: #22c55e;
  --green-light: #4ade80;
  --border-green: #14532d;

  --text-main: #f0fdf4;
  --text-soft: #bbf7d0;
}

/* BASE */

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#021b12,#063d2c);
  color:var(--text-main);
}

/* CONTAINER */

.config-container{
  max-width:500px;
  margin:auto;
  min-height:100vh;
}

/* HEADER */

.config-header{
  display:flex;
  align-items:center;
  padding:20px;
  border-bottom:1px solid var(--border-green);
  position:relative;
}

.config-header h1{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  font-size:18px;
  font-weight:600;
}

.btn-back{
  color:var(--text-main);
  text-decoration:none;
  font-size:18px;
}

/* GRID */

.config-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:12px;
  padding:15px;
}

/* CARDS */

.config-card{
  background:#22c55e;
  border-radius:12px;
  padding:18px 6px;
  text-align:center;
  text-decoration:none;
  color:white;
  border:1px solid #16a34a;
  transition:all .25s ease;
  box-shadow:0 4px 10px rgba(0,0,0,0.25);
}

.config-card:hover{
  transform:translateY(-4px);
  box-shadow:0 8px 20px rgba(0,0,0,0.35);
}

/* ICONES GRID */

.config-card i{
  font-size:20px;
  margin-bottom:6px;
  color:white;
}

.config-card span{
  font-size:13px;
  display:block;
}

.config-card small{
  font-size:11px;
  color:#dcfce7;
}

/* LISTA */

.config-list-bottom{
  padding:10px 15px;
}

.config-row-link{
  text-decoration:none;
  color:inherit;
}

.config-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 0;
  border-bottom:1px solid var(--border-green);
  transition:0.2s;
}

.config-row:hover{
  opacity:0.85;
}

.row-info{
  display:flex;
  align-items:center;
  gap:12px;
}

/* ICONES LISTA */

.row-info i{
  font-size:18px;
  color:white;
}

.arrow-icon{
  font-size:16px;
  color:var(--text-soft);
}

/* SELECT */

.config-select{
  background:var(--bg-secondary);
  border:1px solid var(--border-green);
  color:var(--text-main);
  border-radius:6px;
  padding:4px 6px;
  outline:none;
}

/* LOGOUT */

.logout-row{
  margin-top:30px;
  justify-content:center;
  border:none;
  color:#86efac;
  font-weight:600;
  cursor:pointer;
}
